gitignore Extras/
__pycache__/
/venv
/logs
/run.sh
*.service
*.sock
/config.json
/database.sqlite3
/colourIdGeneration/colourHexLookup.json
/colourIdGeneration/colourIdLookup.json
/colourIdGeneration/colours_natural.json
/colourIdGeneration/colours.json

/src/MyFlaskModules/root/static/js
/src/MyFlaskModules/root/static/css
/src/MyFlaskModules/root/templates/root/index.html

/src_react/build
/src_react/node_modules
/src_react/package-lock.json
