{% macro render_pagination(pagination, endpoint, username) %}
    <div class="pagination">
        Page:
        {% for page in pagination.iter_pages(1,1,2,1) %}
            {% if page %}
                {% if page != pagination.page %}
                    <a href="{{ url_for(endpoint, page = page, username = username) }}">{{ page }}</a>
                {% else %}
                    <strong>{{ page }}</strong>
                {% endif %}
            {% else %}
                <span class="ellipsis">…</span>
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}
